body {
    background: #101011
}

#fortune {
    color: ghostwhite;
    width: 70%;
    margin: auto;
    background: #101011;
    display: none;
    white-space: pre-line;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#fortune > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#records {
    color: ghostwhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#records > div {
    display: flex;
    justify-content: center;
    border: 3px solid;
    border-radius: 16px;
    padding: 16px;
    gap: 16px;
    background: #101011;
    margin: 8px auto;
}

#pages {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#hexagrams {
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
}

#hexagrams > div {
    margin: 20px;
    
}

#flip {
    margin: 30px auto;
}

#response {
    color: ghostwhite;
    width: auto;
    margin: 20px auto;
    display: none;
    align-items: center;
    flex-direction: column;

    animation-name: fadeout;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

#about {
    color: ghostwhite;
    max-width: 70%;
    margin: 20px auto;
}
.coins {
    color: goldenrod;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    font-size: small;

    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.leaf {
    color: goldenrod;
    z-index: -1;
    position: fixed;
    animation-name: breathe;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.poem {
    text-align: center;
    color: goldenrod
}

#qform {
    z-index: 2;
    animation-name: fadeout;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@keyframes breathe {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%
    }
}

@keyframes fadeout {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

@keyframes fadein {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%
    }
}

.centered {
    display: flex;
    justify-content: center;
}

#hexstack {
    position:fixed;
    z-index: 2;
    bottom: 5%;
    left: 3%;

    display: block;
    padding: 10px;
    line-height: 10px; 
    text-align: center;

    color: ghostwhite;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    
    border: 3px solid ghostwhite;
    border-radius: 15%;
}

#hexdiv {
    position:fixed;
    z-index: 2;
    bottom: 5%;
    left: 3%;
}

#showq {
    color: goldenrod;
    display: none;
    justify-content: center;
    font-weight: bold;
    background: #101011;
}

td {
    height: 10px;
}

.square {
    height: 100px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    border: 3px solid ghostwhite;
    border-radius: 15%;
    width: 100px;
    cursor: pointer;
    background: #101011;
}

.row {
    display: flex; 
    justify-content: space-between;
    margin: 4px 0;
    height: 3px;
    width: 100%;
    gap: 8%;
}

.short, .long {
    height: 3px;
    background: ghostwhite;
}

.short {
    width: 42%;
}

.long {
    width: 100%;
}

.gold {
    background: goldenrod
}

.red {
    color: crimson
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 16px;
}

.right {
    display: flex;
    align-items: center;
}

a {
    color: goldenrod;
    font-weight: bold;
}